:root {
    --nav-height: 50px;
    --footer-height: 50px;
}

body {
    font-family:Arial, Helvetica, sans-serifs;
    margin: 0;
    /*max-width: 100vmax;*/
}

main {
    height: calc(100vW - 100% - var(--nav-height) - var(--footer-height) + 100px);
    margin: 24px;
}
