.m-top-nav {
    margin-top: var(--nav-height);
}
/*Styles to align content items */
.flex{ display: flex;}
.ai-c{ align-items: center; }
.jc-c{ justify-content: center; }
.va-c{ vertical-align: center; }

.ta-c{ text-align: center; }
.ta-r{ text-align: right; }


/*Gaps*/
.rgap-15{ display:grid; row-gap: 15px; }
.cgap-15{display: grid; column-gap: 15px;}

.margin-20{ margin: 20px; }
/*Margin RIGHT*/
.mr-30{ margin-right: 30px; }
/*Margin LEFT*/
.ml-30{ margin-left: 30px; }

/*Margin TOP*/
.mt-20{ margin-top: 20px; }
.mt-40{ margin-top: 40px; }

/*Text*/
.bold{ font-weight: bold; }

/*Margin BOTTOM*/
.mb-30{ margin-bottom: 30px; }
.prd-img-sec{ width: calc(100vW * 0.4); }

/*Button*/
.btn{
    border-radius: 8px !important;
    height: 30px;
}

.btn-close{
    background-color: black;
    color: white;
}

.btn-confirm{
    background-color: rgb(5, 50, 105);
    color: white;
}